{% extends 'base.html.twig' %}

{% block title %}Test Calendar{% endblock %}

{% block stylesheet %}

    <style>
        #calendrier{
            width: 80%;
            margin: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="calendrier">

    </div>

{% endblock %}

{% block js %}

    <script>
        window.onload = ()=>{
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt,{
                initialView :'dayGridMonth',
                locale :'en',
                timeZone:'Afrique/Tunisie',
                headerToolbar:{
                    start:'prev,next today',
                    center:'title',
                    end:'dayGridMonth,timeGridWeek'
                },
                events : {{data|raw}}
            })
            calendar.render()
        }
    </script>
{% endblock %}
