{% extends 'dashbord.html.twig' %}

{% block title %}Edit Recruteur{% endblock %}

{% block body %}
    <h1>Edit Recruteur</h1>

    {{ include('recruteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('recruteur_index') }}">back to list</a>

    {{ include('recruteur/_delete_form.html.twig') }}
{% endblock %}
