{% extends 'dashbord.html.twig' %}

{% block title %}New Recruteur{% endblock %}

{% block body %}
    <h1>Create new Recruteur</h1>

    {{ include('recruteur/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('recruteur_index') }}">back to list</a>
{% endblock %}
