{% extends 'header.html.twig' %}

{% block title %}add calendar{% endblock %}

{% block content %}
    <h1>Create new calendar</h1>

    {{ include('front/calendar/_form.html.twig') }}

    <a href="{{ path('calendar_index') }}">back to list</a>
{% endblock %}
