{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Espace commentaire</h4>

                </div>

                <div class="card-body">

                            <div class="tim-typo">
                                <h2>
                                    {% for c in commenter %}
                                        <h5 class="card-title">{{c.commentaire  | raw}}</h5>

                                   <a class="btn btn-primary" href="{{ path ('dca',{'id':c.id}) }}">Effacer</a>


                                    {% endfor %}

                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}