{% block content %}
    <div class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
    <div class="card">
    <div class="card-header card-header-primary">
        <h1 align="center">Projet</h1>
        <h4 align="center"> List of Project </h4>
    </div>
    <div class="card-body">
    <div class="table-responsive">
    <table class="table" border="3">
        <thead class=" text-primary">
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Email</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tbody>
        {% for projet in projet %}
            <tr>
                <td>{{  projet.nomProjet}}</td>
                <td>{{ projet.jobTime }}</td>
                <td>{{ projet.user.mail }}</td>
                <td>{{ projet.jobSalary }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}