{# templates/emails/registration.html.twig #}
<h3>Votre evenement est bien ajoute!Merci !</h3>

Mr/Mme {{ event.email }} votre evenement {{ event.nom }} est poster avec succes sur notre platforme !

<div>Merci à la prochaine !!</div>

<div>EspritWork Team ! Merci !</div>

