{% extends'base.html.twig' %}
{% block body %}
    <table>
        <thead>
        <tr>
            <th>test</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th></th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for certificat in certificats %}
        <tr>
           <td>{{ certificat.nom }}</td>
           <td>{{ certificat.idrecruteur.nom }}</td>
           <td>{{ certificat.idrecruteur.prenom }}</td>
            <td></td>
            <td>
                <a class="btn btn-success" href="{{ path('listo2' , {'id':certificat.id}) }}">obtenir certificat</a>
            </td>
        </tr>

    {% endfor %}
        </tbody>
    </table>
{% endblock %}